/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
}
/* ----------- iPad Pro ----------- /
/ Portrait and Landscape */
@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Landscape */
@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1.5) {

}

html {
  background-color: #39424e;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

@media screen and (min-width: 18em) {
  html {
    font-size: 101%;
  }
}

@media screen and (min-width: 30em) {
  html {
    font-size: 110%;
  }
}

@media screen and (min-width: 35em) {
  html {
    font-size: 135%;
  }
}

body {
  font-size: 1rem;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  color: #e8f1f2;
  text-shadow: none;
  opacity: 1;
  margin: 0 auto;
}

img {
  margin: 1rem 0;
  height: auto;
  width: 100%;
}
img:hover {
  cursor: pointer;
  filter: brightness(1.75);
}

figure {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

figure img {
  margin-bottom: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
}
h1 {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}
h2 {
  margin: 0;
}
@media screen and (min-width: 35rem) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 37rem) {
  h1 {
    padding: 0;
  }
}

.wrap {
  margin: 0 auto;
}
.content h1 {
  font-size: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(12.5%, 7.5em));
  padding: 0;
}
.intro {
  background-color: #998fc7;
  padding: 0 2rem 0 2rem;
  grid-column: 1 / -1;
}
.title, .headline, .header, .content, .posts-list {
  grid-column: 2 / 8;
}
.post h2 {
   grid-column: 2 / 8;
}
.post .entry-meta {
  grid-column: 1 / 2; 
}
.post .card {
  grid-column: 6 / 8; 
}
.post .summary {
  grid-column: 2 / 6; 
}

@media (max-width: 768px) {
 .title, .headline, .header, .content, .post h2, .posts-list, .post .summary, .post .card, .post .entry-meta {
  grid-column: 1 / -1;
 }
}

details {
  grid-column: 1 / 2;
  position: sticky;
  top: 2rem;
  max-width: 10rem;
}

@media screen and (max-width: 70rem) {
  details {
    display: none;
  }
}
